@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #fff;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-family: 'Roboto', sans-serif;
    color: #5684AE;
    margin: 40px 0;
    text-transform: uppercase;
}

form {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    width: 100%;
}

form div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

form div label {
    margin-left: 50px;
}

form div input {
    margin: 5px 50px;
    border: 1px solid;
    border-color: #fff #fff #5684AE #fff;
    line-height: 30px;
    padding: 5px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

form div.radio {
    display: inline;
    margin-left: 50px;
}

div.radio label,
div.radio input {
    margin: 5px 5px 5px 0;
}

#submit {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

#submit button {
    width: 100px;
    line-height: 40px;
    margin-right: 50px;
    border-radius: 5px;
    background: #5684AE;
    color: #fff;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
}